/main.pdf
/*.aux
/*.log
/*.toc
/*.idx
/*.out
/main-crop.pdf
/interior.pdf
/cover.pdf
/pubblication
/backup
/not-on-git/
/ad-funding
/web-page
/inscription
/frammenti
/old-versions/
/debug-dio.aux
/debug-dio.dvi
/debug-dio.log
/debug-dio.out
/debug-dio.pdf
/debug-dio.toc
